---

- name: Add openvpn repository GPG key to apt keyring
  apt_key:
    id: '{{ item.id }}'
    url: '{{ item.url }}'
    state: "{{ item.state|d('present') }}"
  with_items: '{{ openvpn_server__provider_gpg_keys[ansible_distribution] }}'
  ignore_errors: '{{ http_proxy is defined }}'
  register: _openvpn_server__apt_key
  tags: ['openvpn-server', 'openvpn-server-install']

- name: Add repository APT key using http proxy
  shell: 'curl --location --proxy "{{ http_proxy }}" "{{ item.url }}" | apt-key add -'
  with_items: '{{ openvpn_server__provider_gpg_keys[ansible_distribution] }}'
  when: _openvpn_server__apt_key is failed and http_proxy is defined
  tags: ['openvpn-server', 'openvpn-server-install']

- name: Add openvpn repository for Debian
  apt_repository:
    repo: '{{ item }}'
    filename: openvpn
  with_items: '{{ openvpn_server__provider_repositories[ansible_distribution] }}'
  tags: ['openvpn-server', 'openvpn-server-install']
